@model IEnumerable<Pinturería_Acuarela.Usuario>

@{
    ViewBag.Title = "Usuarios";
}

<h2>Usuarios</h2>

<p>
    @Html.ActionLink("Crear usuario", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Ciudad
        </th>
        <th>
            Email
        </th>
        <th>
            Contraseña
        </th>
        <th>
            Rol
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Sucursal.city)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rol)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
