@model Pinturería_Acuarela.Sell

@{
    ViewBag.Title = "Ventas";
    User user = Session["User"] as User;
    List<Product_Sell> products = Session["Sell"] as List<Product_Sell>;
}

<link href="~/Content/orders.css" rel="stylesheet" />
<link href="~/Content/notification.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css" rel="stylesheet">
<link href="~/Content/table.css" rel="stylesheet" />

<h1 class="text-center">Ventas</h1>
<hr class="mb-3"/>


@{ if (ViewBag.Message != null)
    {
        <div class="py-3 mb-5 @(ViewBag.Error == 1 ? "containerError1" : "")@(ViewBag.Error == 2 ? "containerError2" : "")@(ViewBag.Error == null ? "onlyMessage" : "")" id="notificationContainer">
            <div class="px-2 d-flex flex-row justify-content-between align-items-center">
                <div id="txtNotification">@ViewBag.Message</div>
                <button id="btnCloseNotification" type="button" aria-label="Cerrar">
                    <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-x">
                        <path id="closeSVG" fill="rgb(0,75,180)" class="@(ViewBag.Error == 1 ? "error1" : "") @(ViewBag.Error == 2 ? "error2" : "") @(ViewBag.Error == null ? "onlyMessage" : "")" d="M3.72 3.72a.75.75 0 011.06 0L8 6.94l3.22-3.22a.75.75 0 111.06 1.06L9.06 8l3.22 3.22a.75.75 0 11-1.06 1.06L8 9.06l-3.22 3.22a.75.75 0 01-1.06-1.06L6.94 8 3.72 4.78a.75.75 0 010-1.06z"></path>
                    </svg>
                </button>
            </div>
        </div>
    }
}

<div class="mx-4 mb-5 d-flex flex-row">
    <div class="col-9 me-3">
        <div class="sombra p-4 mb-5" style="border-radius: 20px">
            <div class="sombra mb-3 d-flex flex-row" style="max-width: fit-content">
                <input class="form-control py-2" id="txtSearch" placeholder="Cód. interno | Nombre" />
                <button id="btnSearch" type="button" class="btn" style="background-color: #6c7ae0">
                    <i class="bi bi-search" style="color: white"></i>
                </button>
            </div>
            <div class="d-flex flex-row">
                <div class="col-2">
                    <label class="text-center">Marca</label>
                    @Html.DropDownList("id_brand", null, "Seleccionar", htmlAttributes: new { @class = "form-select sombra", @id = "id_brand" })
                </div>
                <div class="col-2">
                    <label class="text-center">Categoría</label>
                    @Html.DropDownList("id_category", null, "Seleccionar", htmlAttributes: new { @class = "form-select sombra", @id = "id_category" })
                </div>
                <div class="col-2">
                    <label class="text-center">Subcategoría</label>
                    @Html.DropDownList("id_subcategory", null, "Seleccionar", htmlAttributes: new { @class = "form-select sombra", @id = "id_subcategory" })
                </div>
                <div class="col-2">
                    <label class="text-center">Color</label>
                    @Html.DropDownList("id_color", null, "Seleccionar", htmlAttributes: new { @class = "form-select sombra", @id = "id_color" })
                </div>
                <div class="col-2">
                    <label class="text-center">Capacidad</label>
                    @Html.DropDownList("id_capacity", null, "Seleccionar", htmlAttributes: new { @class = "form-select sombra", @id = "id_capacity" })
                </div>
                <button type="button" class="btn w-50 align-self-end" style="background-color: #6c7ae0" id="btnFilter"><i class="bi bi-search" style="color: white"></i></button>
            </div>
        </div>

        @* Tabla *@
        <div class="table100 ver1 m-b-110">
            <div class="table100-head">
                <table>
                    <thead>
                        <tr class="row100 head">
                            <th class="text-center column5">Código</th>
                            <th class="text-center column20">Producto</th>
                            <th class="text-center column10">Marca</th>
                            <th class="text-center column10">Categoría</th>
                            <th class="text-center column10">Subcategoría</th>
                            <th class="text-center column10">Color</th>
                            <th class="text-center column10">Capacidad</th>
                            <th class="text-center column10">Stock</th>
                            <th class="text-center column20">Cantidad</th>
                            <th class="text-center column10">Agregar</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="table100-body js-pscroll ps ps--active-y">
                <table>
                    <tbody id="contentTable"></tbody>
                </table>
            </div>
        </div>
    </div>

    @* Tabla carrito *@
    <div class="col-3 me-2">
        <div class="table100 ver1 m-b-110">
            <div class="table100-head">
                <table>
                    <thead>
                        <tr class="row100 head">
                            <th class="cell100 text-center" style="background-color: lightgreen; width: 50%; text-shadow: 0px 0px 20px #000;">Producto</th>
                            <th class="cell100 text-center" style="background-color: lightgreen; width: 25%; text-shadow: 0px 0px 20px #000;">Cantidad</th>
                            <th class="cell100 text-center" style="background-color: lightgreen; width: 25%; text-shadow: 0px 0px 20px #000;">Eliminar</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="table100-body js-pscroll ps ps--active-y">
                <table>
                    <tbody id="contentTable">
                        @if (products != null)
                        {
                            foreach (Product_Sell item in products.OrderByDescending(p => p.quantity))
                            {
                                <tr class="row100 body">
                                    <td class="cell100 ms-3" style="width: 50%;">@Html.DisplayFor(modelItem => item.Product.description)</td>
                                    <td class="cell100" style="width: 25%;">@Html.DisplayFor(modelItem => item.quantity)</td>
                                    <td class="cell100" style="width: 25%;">
                                        @using (Html.BeginForm("RemoveProductSell", "Sells", FormMethod.Post))
                                        {
                                            @Html.AntiForgeryToken()
                                            @Html.Hidden("id_prod", item.Product.id)
                                            <button class="btn btn-danger" type="submit"><i class='bi bi-trash3'></i></button>
                                        }
                                    </td>
                                </tr>
                            }
                            <tr>
                                @using (Html.BeginForm("ConfirmSale", "Sells", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <td class="cell100 ps-4" style="width: 100%; background-color: white;">
                                        <button class="btn btn-success" type="submit">Confirmar</button>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<a href="../../Sells" class="btn btn-dark">Volver</a>

<script src="~/Scripts/Sell.js"></script>
<script src="~/Scripts/notification.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>