@model Pinturería_Acuarela.Sell

@{
    ViewBag.Title = "Create";
    User user = Session["User"] as User;
    List<Product_Sell> products = Session["Sale"] as List<Product_Sell>;
}

<link href="~/Content/orders.css" rel="stylesheet" />
<link href="~/Content/notification.css" rel="stylesheet" />

<h2>Create</h2>


@{ if (TempData["Confirm"] != null)
    {
        <div class="py-3 mb-5 @(TempData["Confirm"].Equals(0) ? "containerError1" : "onlyMessage")" id="notificationContainer">
            <div class="px-2 d-flex flex-row justify-content-between align-items-center">
                <div id="txtNotification">@(TempData["Confirm"].Equals(0) ? "Error al realizar la venta" : TempData["Confirm"] )</div>
                <button id="btnCloseNotification" type="button" aria-label="Cerrar">
                    <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-x">
                        <path id="closeSVG" fill="rgb(0,75,180)" class="@(TempData["Confirm"].Equals(0) ? "error1" : "onlyMessage")" d="M3.72 3.72a.75.75 0 011.06 0L8 6.94l3.22-3.22a.75.75 0 111.06 1.06L9.06 8l3.22 3.22a.75.75 0 11-1.06 1.06L8 9.06l-3.22 3.22a.75.75 0 01-1.06-1.06L6.94 8 3.72 4.78a.75.75 0 010-1.06z"></path>
                    </svg>
                </button>
            </div>
        </div>
    }
}


<table class="table">
    @if (products != null)
    {
        <tr>
            <th>
                Descripción
            </th>
            <th>
                Marca
            </th>
            <th>
                Categoría
            </th>
            <th>
                Subcategoría
            </th>
            <th>
                Código interno
            </th>
            <th>
                Cantidad pedida
            </th>
            <th>
                Eliminar
            </th>
        </tr>
        foreach (Product_Sell item in products.OrderByDescending(p => p.quantity))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.internal_code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Brand.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Category.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Subcategory.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.quantity)
                </td>
                <td>
                    @using (Html.BeginForm("RemoveProductSell", "Sells", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("id_prod", item.Product.id)
                        <button class="btn btn-danger" type="submit"><i class='bi bi-trash3'></i></button>
                    }
                </td>
            </tr>
        }
    }
</table>
@if (products != null)
{
    using (Html.BeginForm("ConfirmSale", "Sells", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <button class="btn btn-success" type="submit">Confirmar Venta</button>
    }
}

<div class="container mt-4">
    <table id='dataTable' class='container table table-light table-striped table-bordered table-hover pt-4'>
        <thead class='table-dark'>
            <tr>
                <td class='text-center'></td>
                <td class='text-center d-flex flex-row'>
                    <input class="form-control" id="txtSearch" placeholder="Cód. interno | Nombre" />
                    <button id="btnSearch" type="button" class="btn btn-primary">
                        <i class="bi bi-search"></i>
                    </button>
                </td>
                <td class='text-center'>@Html.DropDownList("id_brand", null, "Seleccionar", htmlAttributes: new { @class = "form-control", @id = "id_brand" })</td>
                <td class='text-center'>@Html.DropDownList("id_category", null, "Seleccionar", htmlAttributes: new { @class = "form-control", @id = "id_category" })</td>
                <td class='text-center'>@Html.DropDownList("id_subcategory", null, "Seleccionar", htmlAttributes: new { @class = "form-control", @id = "id_subcategory" })</td>
                <td class='text-center'>@Html.DropDownList("id_color", null, "Seleccionar", htmlAttributes: new { @class = "form-control", @id = "id_color" })</td>
                <td class='text-center'>@Html.DropDownList("id_capacity", null, "Seleccionar", htmlAttributes: new { @class = "form-control", @id = "id_capacity" })</td>
                <td class='text-center'><input type="button" value="Filtrar" class="btn btn-outline-light" id="btnFilter" /></td>
                <td class='text-center'></td>
            </tr>
            <tr class='fw-bold'>
                <td class='text-center'>Cód. Interno</td>
                <td class='text-center'>Producto</td>
                <td class='text-center'>Marca</td>
                <td class='text-center'>Categoría</td>
                <td class='text-center'>Subcategoría</td>
                <td class='text-center'>Color</td>
                <td class='text-center'>Capacidad</td>
                <td class='text-center'>Cantidad</td>
                <td class='text-center'>Añadir</td>
            </tr>
        </thead>
        <tbody id="contentTable">
        </tbody>
    </table>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/Sell.js"></script>
<script src="~/Scripts/notification.js"></script>
