@model List<Product_Sell>

@{
    ViewBag.Title = "Detalle venta";
}


<div class="d-flex align-items-end">
    <a class="btn btn-dark py-2" href="../../Sells/Details"><i class="bi bi-arrow-left"></i></a>
    <div class="d-flex flex-grow-1 justify-content-center me-md-4">
        <h1 class="text-center">Detalles de la venta</h1>
    </div>
</div>
<hr class="mb-4" />

<div>
    <table class="table">
        <tr>
            <th>
                Código interno
            </th>
            <th>
                Descripción
            </th>
            <th>
                Marca
            </th>
            <th>
                Categoría
            </th>
            <th>
                Subcategoría
            </th>
            <th>
                Cantidad
            </th>
        </tr>
            @foreach (Product_Sell item in Model)
            {
            <tr>
                <td>
                    @(item.Product.internal_code != null ? item.Product.internal_code.ToString() : "-")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Brand.name)
                </td>
                <td>
                    @(item.Product.id_category != null ? item.Product.Category.description : "-")
                </td>
                <td>
                    @(item.Product.id_subcategory != null ? item.Product.Subcategory.description : "-")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.quantity)
                </td>
            </tr>
            }
        </table>
</div>
