@model IEnumerable<Pinturería_Acuarela.Brand>

@{
    ViewBag.Title = "Marcas";
}

<link href="~/Content/notification.css" rel="stylesheet" />

<h1 class="text-center">Marcas</h1>
<hr class="pb-3" />

@{ if (ViewBag.Message != null)
    {
        <div class="py-3 mb-5 @(ViewBag.Error == 1 ? "containerError1" : "")@(ViewBag.Error == 2 ? "containerError2" : "")@(ViewBag.Error == null ? "onlyMessage" : "")" id="notificationContainer">
            <div class="px-2 d-flex flex-row justify-content-between align-items-center">
                <div id="txtNotification">@ViewBag.Message</div>
                <button id="btnCloseNotification" type="button" aria-label="Cerrar">
                    <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-x">
                        <path id="closeSVG" fill="rgb(0,75,180)" class="@(ViewBag.Error == 1 ? "error1" : "") @(ViewBag.Error == 2 ? "error2" : "") @(ViewBag.Error == null ? "onlyMessage" : "")" d="M3.72 3.72a.75.75 0 011.06 0L8 6.94l3.22-3.22a.75.75 0 111.06 1.06L9.06 8l3.22 3.22a.75.75 0 11-1.06 1.06L8 9.06l-3.22 3.22a.75.75 0 01-1.06-1.06L6.94 8 3.72 4.78a.75.75 0 010-1.06z"></path>
                    </svg>
                </button>
            </div>
        </div>
    }
}

@* Realizar pedido *@
<div class="sombra p-4 mb-3" style="border-radius: 20px; max-width: fit-content">
    <div class="d-flex justify-content-between">
        <a class="btn text-white" href="../../Brands/Create" style="background-color: #e38e00">Agregar una marca <i class="bi bi-plus-circle"></i></a>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th class="text-center">
            Acción
        </th>
    </tr>

    @foreach (Brand item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td class="d-flex justify-content-center">
                <a class="btn btn-success me-4" href="../../Brands/Edit/@item.id"><i class='bi bi-pencil-square'></i></a>
                @using (Html.BeginForm("Delete", "Brands", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("id", item.id)
                    <button class="btn btn-danger ms-4" type="submit"><i class='bi bi-trash3'></i></button>
                }
            </td>
        </tr>
    }
</table>

<script src="~/Scripts/notification.js"></script>