@{
    ViewBag.Title = "Marcas";
}

@model Tuple<List<Brand>, List<Color>>

<link href="~/Content/notification.css" rel="stylesheet" />

@using (Html.BeginForm("Delete", "Brands", FormMethod.Post))
{
    @Html.AntiForgeryToken();
    @Html.Hidden("id_brand")
    <!-- Modal -->
    <div class="modal fade" id="modalConfirmation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalConfirmationLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalConfirmationLabel">Eliminar marca</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    ¿Seguro deseas eliminar esta marca?
                </div>
                <div class="modal-footer d-flex justify-content-between justify-content-lg-end px-3">
                    <button type="submit" id="btnSendForm" class="btn me-lg-4" style="background-color: yellowgreen">Confirmar</button>
                    <button type="button" class="btn" style="background-color: crimson; color: white" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
}

<h1 class="text-center">Editar</h1>
<hr class="pb-3" />

@{ if (ViewBag.Message != null)
    {
        <div class="py-3 mb-5 @(ViewBag.Error == 1 ? "containerError1" : "")@(ViewBag.Error == 2 ? "containerError2" : "")@(ViewBag.Error == null ? "onlyMessage" : "")" id="notificationContainer">
            <div class="px-2 d-flex flex-row justify-content-between align-items-center">
                <div id="txtNotification">@ViewBag.Message</div>
                <button id="btnCloseNotification" type="button" aria-label="Cerrar">
                    <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-x">
                        <path id="closeSVG" fill="rgb(0,75,180)" class="@(ViewBag.Error == 1 ? "error1" : "") @(ViewBag.Error == 2 ? "error2" : "") @(ViewBag.Error == null ? "onlyMessage" : "")" d="M3.72 3.72a.75.75 0 011.06 0L8 6.94l3.22-3.22a.75.75 0 111.06 1.06L9.06 8l3.22 3.22a.75.75 0 11-1.06 1.06L8 9.06l-3.22 3.22a.75.75 0 01-1.06-1.06L6.94 8 3.72 4.78a.75.75 0 010-1.06z"></path>
                    </svg>
                </button>
            </div>
        </div>
    }
}

<div class="container">
    <div class="d-flex flex-row justify-content-between">
        @* Cargar nueva marca *@
        <div class="sombra p-4 mb-3" style="border-radius: 20px; max-width: fit-content">
            <div class="d-flex justify-content-between">
                <a class="btn text-white me-3" href="../../Brands/Create" style="background-color: #6c7ae0">Agregar marca <i class="bi bi-plus-circle"></i></a>
            </div>
        </div>

        @* Cargar nuevo color*@
        <div class="sombra p-4 mb-3" style="border-radius: 20px; max-width: fit-content">
            <div class="d-flex justify-content-between">
                <a class="btn text-white me-3" href="../../Colors/Create" style="background-color: #6c7ae0">Agregar color <i class="bi bi-plus-circle"></i></a>
            </div>
        </div>
    </div>

    <div class="d-flex flex-row">
        
        @* Tabla marcas *@
        <div class="w-50 me-5">
            <h2 class="text-start">Marcas</h2>
            <table class="table">
                <tr>
                    <th>
                        Nombre
                    </th>
                    <th class="text-center">
                        Acción
                    </th>
                </tr>

                @foreach (Brand item in Model.Item1)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.name)
                        </td>
                        <td class="d-flex justify-content-center">
                            <a class="btn me-4" style="background-color: yellowgreen" href="../../Brands/Edit/@item.id"><i class='bi bi-pencil-square'></i></a>
                            <button onclick="setDeleteID(@item.id)" class="btn text-white ms-4" style="background-color: crimson" type="button" data-bs-toggle="modal" data-bs-target="#modalConfirmation"><i class='bi bi-trash3'></i></button>
                        </td>
                    </tr>
                }
            </table>
        </div>
        
        @* Tabla colores *@
        <div class="w-50">
            <h2 class="text-start">Colores</h2>
            <table class="table">
                <tr>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Color
                    </th>
                    <th class="text-center">
                        Acción
                    </th>
                </tr>

                @foreach (Color item in Model.Item2)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.name)
                        </td>
                        <td class="d-flex justify-content-center">
                            <a class="btn" style="background-color: yellowgreen" href="../../Colors/Edit/@item.id"><i class='bi bi-pencil-square'></i></a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

<script src="~/Scripts/notification.js"></script>
<script>
    function setDeleteID(id) {
        $("#id_brand").val(id);
    };
</script>