@{
    ViewBag.Title = "Ordenes";
    List<Product_Order> products = Session["Basket"] as List<Product_Order>;
}

<h1 class="text-center">Productos añadidos a la orden</h1>
<hr class="pb-3"/>

<table class="table">
    <tr>
        <th>
            Descripción
        </th>
        <th>
            Marca
        </th>
        <th>
            Categoría
        </th>
        <th>
            Subcategoría
        </th>
        <th>
            Código interno
        </th>
        <th>
            Cantidad pedida
        </th>
        <th>
            Eliminar
        </th>
    </tr>

    @foreach (Product_Order item in products.OrderByDescending(p => p.quantity))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Brand.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Category.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Subcategory.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.internal_code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                @using (Html.BeginForm("RemoveProductBasket", "Orders", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("id_prod", item.Product.id)
                    <button class="btn btn-danger" type="submit"><i class='bi bi-trash3'></i></button>
                }
            </td>
        </tr>
    }

</table>

<div class="d-flex flex-row justify-content-between pe-3 pt-4">
    <a href="../Orders/Create" class="btn btn-dark">Volver</a>
    @using (Html.BeginForm("CreateOrder", "Orders", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <button class="btn btn-success" type="submit">Crear orden</button>
    }
</div>
