@{
    ViewBag.Title = "Ordenes";
    List<Product_Order> products = Session["Basket"] as List<Product_Order>;
    double totalLiters = 0;
    foreach (Product_Order item in products)
    {
        totalLiters += item.quantity * (item.Product.id_capacity != null ? item.Product.Capacity.capacity : 0);
    }
}

<div class="d-flex align-items-end">
    <a class="btn btn-dark py-2" href="../../Orders/Create"><i class="bi bi-arrow-left"></i></a>
    <div class="d-flex flex-grow-1 justify-content-center me-md-4">
        <h1 class="text-center">Productos añadidos a la orden</h1>
    </div>
</div>
<hr class="mb-4" />

<table class="table">
    <tr>
        <th>
            Descripción
        </th>
        <th>
            Marca
        </th>
        <th>
            Categoría
        </th>
        <th>
            Subcategoría
        </th>
        <th class="text-center">
            Código interno
        </th>
        <th class="text-center">
            Cantidad pedida
        </th>
        <th class="text-center">
            Eliminar
        </th>
    </tr>

    @foreach (Product_Order item in products.OrderByDescending(p => p.quantity))
    {
        <tr>
            <td>
                @item.Product.description
            </td>
            <td>
                @item.Product.Brand.name
            </td>
            <td>
                @(item.Product.id_category != null ? item.Product.Category.description : "-")
            </td>
            <td>
                @(item.Product.id_subcategory != null ? item.Product.Subcategory.description : "-")
            </td>
            <td class="text-center">
                @(item.Product.internal_code != null ? item.Product.internal_code.ToString() : "-")
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td class="text-center">
                @using (Html.BeginForm("RemoveProductBasket", "Orders", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("id_prod", item.Product.id)
                    <button class="btn text-white" style="background-color: crimson" type="submit"><i class='bi bi-trash3'></i></button>
                }
            </td>
        </tr>
    }
    <tr>
        <td>
            <b>Total: </b>@totalLiters litros
        </td>
    </tr>
</table>

<div class="d-flex flex-row justify-content-between pe-3 pt-4">
    @using (Html.BeginForm("CreateOrder", "Orders", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <button class="btn" style="background-color: yellowgreen" type="submit">Crear orden</button>
    }
</div>
