@model IEnumerable<Pinturería_Acuarela.Product_Order>

@{
    ViewBag.Title = "Basket";
}

<h2>Basket</h2>

<table class="table">
    <tr>
        <th>
            Descripción
        </th>
        <th>
            Marca
        </th>
        <th>
            Categoría
        </th>
        <th>
            Subcategoría
        </th>
        <th>
            Código interno
        </th>
        <th>
            Cantidad en stock
        </th>
        <th>
            Cantidad pedida
        </th>
        <th>
            Eliminar
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Brand.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Category.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Subcategory.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.internal_code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantity)
        </td>
        <td>
            <a class='btn btn-danger ms-4'><i class='bi bi-trash3'></i></a>
        </td>
    </tr>
}

</table>
<a href="../Orders/Create" class="btn btn-dark">Volver</a>
<a href="../Orders/ConfirmOrder" class="btn btn-dark">Confirmar orden</a>
