@model Pinturería_Acuarela.Order

@{
    ViewBag.Title = "Ordenes";
}

<link href="~/Content/orders.css" rel="stylesheet" />

<h4>Orden</h4>
<p>
    Has agregado
    @if (Session["BasketCount"] != null)
    {
        <span id="basketCount">@Session["BasketCount"].ToString()</span>
    }
    else
    {
        <span id="basketCount">0</span>
    }
    elementos a tu orden
</p>

<a href="../Orders/Basket"><input type="button" value="Ver productos en orden" class="btn btn-dark" id="btnBasket" /></a>
<input type="button" value="Filtrar" class="btn btn-dark" id="btnFilter" />
<hr />

<div class="container mt-4">
    <table id='tabla-generic' class='container table table-light table-striped table-bordered table-hover'>
        <thead class='table-dark'>
            <tr class='fw-bold'>
                <td class='text-center'>Producto</td>
                <td class='text-center'>Marca</td>
                <td class='text-center'>Categoría</td>
                <td class='text-center'>Subcategoría</td>
                <td class='text-center'>Color</td>
                <td class='text-center'>Capacidad</td>
                <td class='text-center'>Cantidad</td>
                <td class='text-center'>Añadir</td>
            </tr>
            <tr>
                <td class='text-center'></td>
                <td class='text-center'>@Html.DropDownList("id_brand", null, "Seleccionar", htmlAttributes: new { @class = "form-control", @id = "id_brand" })</td>
                <td class='text-center'>@Html.DropDownList("id_category", null, "Seleccionar", htmlAttributes: new { @class = "form-control", @id = "id_category" })</td>
                <td class='text-center'>@Html.DropDownList("id_subcategory", null, "Seleccionar", htmlAttributes: new { @class = "form-control", @id = "id_subcategory" })</td>
                <td class='text-center'>@Html.DropDownList("id_color", null, "Seleccionar", htmlAttributes: new { @class = "form-control", @id = "id_color" })</td>
                <td class='text-center'>@Html.DropDownList("id_capacity", null, "Seleccionar", htmlAttributes: new { @class = "form-control", @id = "id_capacity" })</td>
                <td class='text-center'></td>
                <td class='text-center'></td>
            </tr>
        </thead>
        <tbody id="contentTable">
        </tbody>
    </table>
</div>

<div>
    @Html.ActionLink("Volver al listado", "Index")
</div>

<script src="~/Scripts/orders.js"></script>