@model Pinturería_Acuarela.Order

@{
    ViewBag.Title = "Details";
}

<h2>Detalles de la orden</h2>

<div>
    <table class="table">
        <tr>
            <th>
                Descripción
            </th>
            <th>
                Marca
            </th>
            <th>
                Categoría
            </th>
            <th>
                Subcategoría
            </th>
            <th>
                Código interno
            </th>
            <th>
                Cantidad en stock
            </th>
            <th>
                Cantidad pedida
            </th>
            <th>
                Confirmar
            </th>
        </tr>

        @foreach (var item in Model.Product_Order)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Brand.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Category.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Subcategory.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.internal_code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.quantity)
                </td>
                <td>
                    @if (item.status == false)
                    {
                        @Html.ActionLink("Confirmar producto", "ConfirmProduct", new { id_product = item.id_product, id_order = item.id_order, quant = item.quantity })
                    } else
                    {
                        @:<p>Confirmado</p>
                    }
                </td>
            </tr>
        }

    </table>
</div>
<p>
    @*@Html.ActionLink("Confirmar orden", "ConfirmOrder", new { id = Model.id }) |*@
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
