@model IEnumerable<Pinturería_Acuarela.Order>

@{
    ViewBag.Title = "Ordenes";
}

<link href="~/Content/datatables.css" rel="stylesheet" />
<link href="~/Content/orders.css" rel="stylesheet" />
<link href="~/Content/notification.css" rel="stylesheet" />

<h1 class="text-center">Ordenes</h1>
<hr class="pb-4" />

@{ if (ViewBag.Message != null)
    {
        <div class="py-3 mb-5 @(ViewBag.Error == 1 ? "containerError1" : "")@(ViewBag.Error == 2 ? "containerError2" : "")@(ViewBag.Error == null ? "onlyMessage" : "")" id="notificationContainer">
            <div class="px-2 d-flex flex-row justify-content-between align-items-center">
                <div id="txtNotification">@ViewBag.Message</div>
                <button id="btnCloseNotification" type="button" aria-label="Cerrar">
                    <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-x">
                        <path id="closeSVG" fill="rgb(0,75,180)" class="@(ViewBag.Error == 1 ? "error1" : "") @(ViewBag.Error == 2 ? "error2" : "") @(ViewBag.Error == null ? "onlyMessage" : "")" d="M3.72 3.72a.75.75 0 011.06 0L8 6.94l3.22-3.22a.75.75 0 111.06 1.06L9.06 8l3.22 3.22a.75.75 0 11-1.06 1.06L8 9.06l-3.22 3.22a.75.75 0 01-1.06-1.06L6.94 8 3.72 4.78a.75.75 0 010-1.06z"></path>
                    </svg>
                </button>
            </div>
        </div>
    }
}

<table id="dataTable" class="table table-striped table-bordered table-hover pt-4">
    <thead class='table-dark'>
        <tr class="fw-bold text-center">
            <td>
                Sucursal
            </td>
            <td>
                Pedido
            </td>
            <td>
                Estado
            </td>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr class='clickable-row text-center' data-href='/Orders/Details/@item.id'>
            <td>
                @Html.DisplayFor(modelItem => item.User.Business.adress)
            </td>
            <td>
                Día: @(item.date.ToShortDateString())
                <br>
                Hora: @(item.date.ToShortTimeString())
            </td>
            <td>
                @(item.status == false ? "En espera" : "Confirmado")
            </td>
        </tr>
    }

</table>

<a class="btn btn-dark" href="../../Orders/Create">Realizar pedido</a>

<script src="~/Scripts/datatables.js"></script>
<script src="~/Scripts/notification.js"></script>

<script>
    $(".clickable-row").click(function () {
        window.location = $(this).data("href");
    });

    $('#dataTable').DataTable(
        {
            searching: false,
            "language": {
                paginate: {
                    "first": "Primera",
                    "last": "Última",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
                emptyTable: "No existen ordenes que coincidan con la búsqueda",
                info: "Mostrando _END_ de _TOTAL_ ordenes",
                infoEmpty: "Mostrando 0 ordenes",
                lengthMenu: "Mostrar _MENU_ ordenes",
            },
            columnDefs: [{
                orderable: false,
                targets: "no-sort"
            }]
        }
    )
</script>

<style>
    .clickable-row:hover {
        cursor: pointer;
        background-color: aliceblue;
    }
</style>