@model Pinturería_Acuarela.Product_Business

@{
    ViewBag.Title = "Stock";
}

<link href="~/Content/orders.css" rel="stylesheet" />

<div class="d-flex align-items-end">
    <a class="btn btn-dark py-2" href="../../Product_Business/Index/@Model.Business.id"><i class="bi bi-arrow-left"></i></a>
    <div class="d-flex flex-grow-1 justify-content-center me-md-4">
        <h1 class="text-center">Asociar un producto a @Model.Business.adress</h1>
    </div>
</div>
<hr class="mb-4" />

@using (Html.BeginForm("Create", "Product_Business", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("id_product")
    @Html.Hidden("id_business", Model.Business.id)
    <!-- Modal -->
    <div class="modal modal-lg" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Cargar stock</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body d-flex flex-column">
                    <div class="d-flex flex-column">
                        <div class="d-flex flex-row justify-content-center align-items-center">
                            <label class="pe-3">Stock existente: </label>
                            <div class='d-flex flex-row justify-content-center ps-3'>
                                <div class='value-button' id='decrease_stock' onclick='decreaseValue("stock")' value='Decrease Value'>-</div>
                                @Html.TextBoxFor(model => model.stock, null, new { @type = "number", @id = "stock", @class = "number" })
                                <div class='value-button' id='increase_stock' onclick='increaseValue("stock")' value='Increase Value'>+</div>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(model => model.stock, null, new { @class = "text-center text-danger mb-4" })
                    </div>
                    <div class="d-flex flex-column">
                        <div class="d-flex flex-row justify-content-center align-items-center">
                            <label class="pe-3">Stock mínimo: </label>
                            <div class='d-flex flex-row justify-content-center ps-3'>
                                <div class='value-button' id='decrease_minimum_stock' onclick='decreaseValue("minimum_stock")' value='Decrease Value'>-</div>
                                @Html.TextBoxFor(model => model.minimum_stock, null, new { @type = "number", @id = "minimum_stock", @class = "number" })
                                <div class='value-button' id='increase_minimum_stock' onclick='increaseValue("minimum_stock")' value='Increase Value'>+</div>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(model => model.minimum_stock, null, new { @class = "text-center text-danger mb-4" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnSendForm" type="submit" class="btn btn-primary">Cargar stock</button>
                    <button id="modalCerrar" type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
}


<div class="container mt-4">
    <table id='dataTable' class='container table table-light table-striped table-bordered table-hover pt-4' style="border-color: rgb(80, 80, 80, 0.41)">
        <thead class="table-purple">
            <tr>
                <td class='text-center sombra'></td>
                <td class='text-center d-flex flex-row sombra'>
                    <input class="form-control" id="txtSearch" placeholder="Cód. interno | Nombre" />
                    <button id="btnSearch" type="button" class="btn" style="color: white; background-color: #6c7ae0">
                        <i class="bi bi-search"></i>
                    </button>
                </td>
                <td class='text-center sombra'>@Html.DropDownList("id_brand", null, "Seleccionar", htmlAttributes: new { @class = "form-control", @id = "id_brand" })</td>
                <td class='text-center sombra'>@Html.DropDownList("id_category", null, "Seleccionar", htmlAttributes: new { @class = "form-control", @id = "id_category" })</td>
                <td class='text-center sombra'>@Html.DropDownList("id_subcategory", null, "Seleccionar", htmlAttributes: new { @class = "form-control", @id = "id_subcategory" })</td>
                <td class='text-center sombra'>@Html.DropDownList("id_color", null, "Seleccionar", htmlAttributes: new { @class = "form-control", @id = "id_color" })</td>
                <td class='text-center sombra'>@Html.DropDownList("id_capacity", null, "Seleccionar", htmlAttributes: new { @class = "form-control", @id = "id_capacity" })</td>
                <td class='text-center sombra'><input type="button" value="Filtrar" class="btn btn-outline-light" id="btnFilter" /></td>
            </tr>
            <tr>
                <td class='text-center sombra'>Cód. Interno</td>
                <td class='text-center sombra'>Producto</td>
                <td class='text-center sombra'>Marca</td>
                <td class='text-center sombra'>Categoría</td>
                <td class='text-center sombra'>Subcategoría</td>
                <td class='text-center sombra'>Color</td>
                <td class='text-center sombra'>Capacidad</td>
                <td class='text-center sombra'>Añadir</td>
            </tr>
        </thead>
        <tbody id="contentTable" class="sombra">
        </tbody>
    </table>
</div>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/product_business_create.js"></script>

<style>
    .table-purple {
        --bs-table-bg: #c4c1e0;
        color: rgb(80, 80, 80);
    }
    .table-light {
        --bs-table-bg: #ffdcd269;
        --bs-table-striped-bg: #fffdfddb;
    }
</style>