@model Pinturería_Acuarela.Business

@{
    ViewBag.Title = "Index";
}

<link href="~/Content/orders.css" rel="stylesheet" />

<h1 class="text-center">Productos de @Model.adress</h1>
<hr class="pb-3" />

<a class="btn btn-dark" href="/Product_Business/Create/@Model.id">Agregar un producto</a>

@{
    if (TempData["SuccessMessage"] != null)
    {
        <div id="alertCreate" class="alert alert-success alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>@TempData["SuccessMessage"]</strong>
        </div>

        <script>
            setTimeout(function () {
                document.getElementById("alertCreate").style.display = "none";
            }, 3000);
        </script>
    }
    if (TempData["DeleteMessage"] != null)
    {
        <div id="alertDelete" class="alert alert-primary" role="alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>@TempData["DeleteMessage"] </strong>
        </div>

        <script>
            setTimeout(function () {
                document.getElementById("alertDelete").style.display = "none";
            }, 3000);
        </script>
    }
}



<div class="container mt-4">
    <table id='dataTable' class='container table table-light table-striped table-bordered table-hover pt-4'>
        <thead class='table-dark'>
            <tr>
                <td class='text-center'></td>
                <td class='text-center d-flex flex-row'>
                    <input class="form-control" id="txtSearch" placeholder="Cód. interno | Nombre" />
                    <button id="btnSearch" type="button" class="btn btn-primary">
                        <i class="bi bi-search"></i>
                    </button>
                </td>
                <td class='text-center'>@Html.DropDownList("id_brand", null, "Seleccionar", htmlAttributes: new { @class = "form-control", @id = "id_brand" })</td>
                <td class='text-center'>@Html.DropDownList("id_category", null, "Seleccionar", htmlAttributes: new { @class = "form-control", @id = "id_category" })</td>
                <td class='text-center'>@Html.DropDownList("id_subcategory", null, "Seleccionar", htmlAttributes: new { @class = "form-control", @id = "id_subcategory" })</td>
                <td class='text-center'>@Html.DropDownList("id_color", null, "Seleccionar", htmlAttributes: new { @class = "form-control", @id = "id_color" })</td>
                <td class='text-center'>@Html.DropDownList("id_capacity", null, "Seleccionar", htmlAttributes: new { @class = "form-control", @id = "id_capacity" })</td>
                <td class='text-center'><input type="button" value="Filtrar" class="btn btn-outline-light" id="btnFilter" /></td>
                <td></td>
            </tr>
            <tr class='fw-bold'>
                <td class='text-center'>Cód. Interno</td>
                <td class='text-center'>Producto</td>
                <td class='text-center'>Marca</td>
                <td class='text-center'>Categoría</td>
                <td class='text-center'>Subcategoría</td>
                <td class='text-center'>Color</td>
                <td class='text-center'>Capacidad</td>
                <td class='text-center'>Stock</td>
                <td class='text-center'>Añadir</td>
            </tr>
        </thead>
        <tbody id="contentTable">
        </tbody>
    </table>
</div>

<script src="~/Scripts/product_business_index.js"></script>
