@model IEnumerable<Pinturería_Acuarela.Product>

@{
    ViewBag.Title = "Productos";
}

<h2>Productos</h2>

<p>
    @Html.ActionLink("Cargar un producto", "Create")
</p>


@{
    var parameter = Request.QueryString["ac"];

    if (TempData["SuccessMessage"] != null)
    {
        <div id="alertCreate" class="alert alert-success alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>@TempData["SuccessMessage"]</strong>
        </div>

        <script>
            setTimeout(function () {
                document.getElementById("alertCreate").style.display = "none";
            }, 3000);
        </script>
    }
    if (TempData["DeleteMessage"] != null)
    {
        <div id="alertDelete" class="alert alert-primary" role="alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>@TempData["DeleteMessage"] </strong>
        </div>

        <script>
            setTimeout(function () {
                document.getElementById("alertDelete").style.display = "none";
            }, 3000);
        </script>
    }
}



<div class="container d-flex flex-row">
    <div class="input-group" style="margin:auto">
        <input type="search" placeholder="Codigo Interno / Descripcion" id="txtSearch" class="form-control" />
        <button id="btSearch" type="button" class="btn btn-primary">
            <i class="bi bi-search"></i>
        </button>
    </div>
    <div class="d-flex flex-row align-self-center">
        <div>
            <label class="control-label col-md-2">Marca</label>
            <div class="col-md-10">
                @Html.DropDownList("id_brand", null, "Seleccionar una marca", htmlAttributes: new { @class = "form-control", @id = "id_brand" })
            </div>
        </div>
        <div>
            <label class="control-label col-md-2">Categoría</label>
            <div class="col-md-10">
                @Html.DropDownList("id_category", null, "Seleccionar una categoría", htmlAttributes: new { @class = "form-control", @id = "id_category" })
            </div>
        </div>
        <div>
            <label class="control-label col-md-2">Subcategoría</label>
            <div class="col-md-10">
                @Html.DropDownList("id_subcategory", null, "Seleccionar una subcategoría", htmlAttributes: new { @class = "form-control", @id = "id_subcategory" })
            </div>
        </div>
        <div>
            <label class="control-label col-md-2">Color</label>
            <div class="col-md-10">
                @Html.DropDownList("id_color", null, "Seleccionar una color", htmlAttributes: new { @class = "form-control", @id = "id_color" })
            </div>
        </div>
        <div>
            <label class="control-label col-md-2">Capacidad</label>
            <div class="col-md-10">
                @Html.DropDownList("id_capacity", null, "Seleccionar una capacidad", htmlAttributes: new { @class = "form-control", @id = "id_capacity" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Filtrar" class="btn btn-dark" id="btnFilter" />
            </div>
        </div>
    </div>

</div>

<div id="contentTable" class="mt-4 container"></div>

<script src="Scripts/products.js"></script>